body{
  margin: 0px;
}
.red{
  background-color: red;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 200px;
  top: 200px;
  /* display: inline-block; */
}
.blue{
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 100px;
  top: 100px;
  /* display: inline-block; */

}
.yellow{
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: absolute;
  /* display: inline-block; */
}
